@media (min-width: 33.375em) {
  .user-card {
    .user-avatar, .user-details {
      float: left;
      width: 50%;
    }
  }

  .repo-item {
    float: left;
    min-height: 125px;
    width: 50%;
  }
}

@media (min-width: 40em) {
  .github-info .github-items {
    padding: 8px;
    width: 50%;
  }

  .repo-item {
    width: 33.3333%;
  }
}

@media (min-width: 50em) {
  .github-info .github-items {
    padding: 28px;
    width: 50%;
  }
}
